{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <h2>The Assignment</h2>
    <p>As part of 4th Year in Design Engineering at Imperial College London I 
    am undertaking a module called Sensing & Internet of Things (SIOT). The main requirements
    of the project were
    <ol>
        <li> Acquire sensors and other data at the appropriate sampling rate
        <li> Establish the Communications and Networking protocols for data storage
        <li> Provide data Storage and/or Publishing via APIs
        <li> Streamlined basic time-series Data Analysis
        <li> An App
        <li> Data Cross correlation/fusion, complementing data, novel interactions, control and
actuation
        <li> Present and discuss opportunities Innovation, creativity, enterprise, scalability &
complexity analysis within your ecosystem 
    </ol>    
    <p>
    <h2>The Web App</h2>
    <p>The W2W app takes information from Twitter, Weather APIs and IMDB to produce a threshold value
    that is examined against a function value to assign a score to each film title
    listed on the website. Based on these function values, it suggests weather 
    or not to watch a given movie based on the existing state of the data. <p>
    <h2> References </h2>
    <ol>
        <li> Bootstrap
        <li> Pygal
        <li> Flask
        <li> Youtube Dude for Flask
        <li> Bootstrap external library
    </ol>  
{% endblock content %}



