<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='hover-box.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jqcloud.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidenav.css')}}">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jqcloud.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
    <link href="{{ url_for('static', filename='offcanavs.css')}}" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='offcanvas.js')}}"></script>

    {% if title %}
        <title> SIOT Coursework - {{ title }}</title>
    {% else %}
        <title> SIOT Coursework</title>
    {% endif %}
        
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/Home"><p style="color:orange">W2W</p></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/Home">Home</a></li>
                <li><a href="/weather">Weather API</a></li>
                <li><a href="/twitter">Twitter API</a></li>
                <li><a href="/analysis">Analysis</a></li>
                <li><a href="/wordcloudpage">Data Visualization</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div><!-- /.nav-collapse -->
          </div><!-- /.container -->
        </nav><!-- /.navbar -->
        

        

        <div class="container">
            {% block content %} {% endblock %}
        </div>
      <center><footer>
            <p>Imperial College London, Design Engineering, DE4-SIOT</p>
          </footer>
        </center>
        
        
        <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>